@import '/src/styles/colors.css';

.switch {
  width: 3rem;
  height: 1rem;
  border-radius: 16px;
  border: 0.1rem solid var(--gray);
  .dot {
    height: 0.8rem;
    width: 0.8rem;
    transform: translate(0.1em, 0.1em);
    border-radius: 50%;
    transition: all 500ms;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0 0 8px var(--gray);
  }
}
.switched {
  border-color: var(--primary);
  .dot {
    transform: translate(2em, 0.1em);
    box-shadow: 0 0 0 var(--primary);
    background-color: var(--primary);
  }
}